<% if request.path == new_material_path %>
    <h2 class="page-heading">相談を投稿する</h2>
<% else %>
    <h2 class="page-heading">相談を編集する</h2>
<% end %>

<%= form_with model: @question, local: true do |f| %>
<%#= render 'shared/error_messages', model: f.object %>

  <!--- 相談のカテゴリー・タグ --->
  <div class="content-category">
    <div class="weight-bold-text">
      ジャンル
      <span class="indispensable">必須</span>
    </div>
    <%= f.collection_select(:genre_id, Genre.all, :id, :name, {}, {class:"select-box", id:"content-genre"}) %>
    <div class="weight-bold-text">
      学校
      <span class="dispensable">任意</span>
    </div>
    <%= f.collection_select(:school_category_id, SchoolCategory.all, :id, :name, {}, {class:"select-box", id:"content-school_category"}) %>
    <div class="weight-bold-text">
      タグ
      <span class="dispensable">任意</span>
    </div>
    <div class="content-tag">
    </div>
  </div>

  <!--- 記事の名前・内容 -->
  <div class="weight-bold-text">
    相談のタイトル
    <span class="indispensable">必須</span>
  </div>
  <%= f.text_area :title, class:"content-text", id:"content-name", placeholder:"相談のタイトルを入力する（100文字まで)" ,rows:"1", maxlength:"100" %>
  <div class="content-explain">
    <div class="weight-bold-text">
      相談の内容
      <span class="indispensable">必須</span>
    </div>
    <%= f.text_area :content, class:"content-text", id:"content-info", placeholder:"相談の内容を書く（1000文字まで）" ,rows:"20" ,maxlength:"1000" %>
  </div>

  <!--- 投稿・更新・削除・戻るボタン --->
  <div class="create-btn-contents">

  <% if request.path == new_question_path %>
    <%= f.submit "投稿する",class:"create-btn" %>
    <%=link_to 'ホームに戻る', root_path, class:"back-btn link" %>
  <% else %>
    <%= f.submit "更新する",class:"create-btn" %>
    <%=link_to '編集をやめる', question_path(@question), class:"back-btn link" %>
    <%= link_to "削除する", question_path(@question), method: :delete, class:"destroy-btn white link" %>
  <% end %>


  </div>

<% end %>