      <%# 記事 %>
      <div class="inner">
        <h1 class="page-heading">質問一覧</h1>
        <div class="card__wrapper">
          <% @questions.each do |question| %>
          <div class="card">
            <div class="card__body">
              <h2 class="card__title">
                <%= link_to question.title, question_path(question.id)%>
              </h2>
              <div class="question-grade">
                <%= question.genre.name %>
              </div>
              <div class="question-school-category">
                <%= question.school_category.name %>
              </div>
              <div class="question-tag">
                タグ　タグ　タグ　タグ　タグ
              </div>
              <div class="question-content">
                <%= question.content %>
              </div>
              <div class="question-user">
                <%= image_tag question.user.avatar.thumb.url, class:'avatar' %>
                <%= link_to question.user.nickname, user_path(question.user) %>
              </div>
            </div>
          </div>
          <% end %>
        </div>
      </div>