<%= render "shared/header" %>

<div class="main">
  <div class="content-main">
    <div class="top-contents">
      <div class="user-contents">
        <%= image_tag @question.user.avatar.thumb64.url, class:'avatar' %>
        <div class="user-nickname">
          <%= link_to @question.user.nickname, user_path(@question.user), class: 'black2 text link' %>
        </div>
        <div class="user-detail-button">
        <% if current_user == @question.user %>
            <%= link_to '相談を編集', edit_question_path(@question), method: :get, class: "edit-btn link" %>
        <% else %>
          <div class="follow-btn">
            フォロー
          </div>
        <% end %>
        </div>
      </div>
      <div class="info-contents">
        <%#= 相談の閲覧数 %>
        <div class="info-content">
          <%= image_tag 'look.svg', class:'info-icon' %>
          <span>1000</span>
        </div>
        <%#= 相談のいいね数 %>
        <div class="info-content">
          <%= image_tag 'favorite-gray.svg', class:'info-icon' %>
          <span>1000</span>
        </div>
      </div>
    </div>
    <div class="category">
      <!-- 相談のジャンル -->
      <div class="tag-s">
          <%= @question.genre.name %>
      </div>
      <!-- 相談の学校種 -->
      <div class="tag-s">
          <%= @question.school_category.name %>
      </div> 
      <!-- 相談のタグ(任意）) -->
      <!--<div class="tag-s">
          <span>タグ</span>
      </div>-->
    </div>
    <div class="title ttl black1">
      <%= @question.title %>
    </div>
    <div class="content txt black2">
        <%= @question.content %>
    </div>
  </div>

  <%# コメント欄 %>    
  <%# コメント欄 %>
    <%# コメントの一覧表示 %>
    <div class="comments">
      <div class="comment-header">
        この相談への回答
      </div>
      <% @answers.each do |answer| %>
        <div class="comment">
          <div class="comment-user-contents">
            <%= image_tag answer.user.avatar.thumb56.url, class:'avatar' %>
            <%= link_to answer.user.nickname, user_path(answer.user), class: 'comment_user txt black2 link' %>
          </div>
        <div class="comment-content txt black2">
          <%= answer.content %>
        </div>
      </div>
      <% end %>
    </div>

</div>


<%# コメントの投稿フォーム %>        
<%= form_with model: [@question,@answer], class: 'comment-form',local: true do |f|%>
  <div class="comment-input">
    <%= f.text_area :content, class: 'comment-input-field', placeholder: 'コメントを入力する', id:"comment_content" %>
  </div>
  <div class="comment-submit">
    <%= button_tag type: 'submit', class: "comment-submit-btn" do %>
        <%= image_tag 'send.svg' %>
    <% end %>
  </div>
<% end %>