<%= form_with model: @user, url: user_registration_path, class: 'registration-main', local: true do |f| %>

<div class='form-wrap'>
  <div class='form-header'>
    <h2 class='form-header-text'>
      登録情報の編集
    </h2>
  </div>

  <%#= render 'shared/error_messages', model: f.object %>

  <div class="form-group">
    <div class='form-text-wrap'>
      <label class="form-text">プロフィール画像</label>
      <span class="indispensable">任意</span>
    </div>
    <%= f.file_field :avatar, class:"input-file", id:"avatar" %>
  </div>

  <div class="form-group">
    <div class='form-text-wrap'>
      <label class="form-text">ユーザー名</label>
      <span class="indispensable">必須</span>
    </div>
    <%= f.text_area :nickname, class:"input-default", id:"nickname", placeholder:"例) タロウ", maxlength:"40" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="form-group">
    <div class='form-text-wrap'>
      <label class="form-text">新しいパスワード</label><i>（更新したい場合）</i>
      <span class="indispensable">必須</span>
    </div>
    <%= f.password_field :password, class:"input-default", id:"password", autocomplete: "new-password" %>
  </div>

  <div class="form-group">
    <div class='form-text-wrap'>
      <label class="form-text">新しいパスワード（確認用）</label><i>（更新したい場合）</i>
      <span class="indispensable">必須</span>
    </div>
    <%= f.password_field :password_confirmation, class:"input-default", id:"password-confirmation", autocomplete: "new-password" %>
  </div>

  <div class="form-group">
    <div class='form-text-wrap'>
      <label class="form-text">現在のパスワード</label><i>（変更にはパスワードが必要です）</i>
      <span class="indispensable">必須</span>
    </div>
    <%= f.password_field :current_password, class:"input-default", id:"current_password",  autocomplete: "current-password" %>
  </div>

  <div class="form-group">
    <div class='form-text-wrap'>
      <label class="form-text">学校種／教科</label>
      <span class="indispensable">必須</span>
    </div>
    <div class="select-categories">
      <%= f.collection_select(:school_category_id, SchoolCategory.all, :id, :name, {}, {class:"select-category", id:"item-category"}) %>
      <%= f.collection_select(:subject_id, Subject.all, :id, :name, {}, {class:"select-category", id:"item-category"}) %>
    </div>
  </div>


  <div class="form-group">
    <div class='form-text-wrap'>
      <label class="form-text">学年／部活動／分掌</label>
      <span class="dispensable">任意</span>
    </div>
    <div class="select-categories">
      <%= f.collection_select(:grade_id, Grade.all, :id, :name, {}, {class:"select-category", id:"item-category"}) %>
      <%= f.collection_select(:club_id, Club.all, :id, :name, {}, {class:"select-category", id:"item-category"}) %>
      <%= f.collection_select(:duty_id, Duty.all, :id, :name, {}, {class:"select-category", id:"item-category"}) %>
    </div>
  </div>

  <div class='create-btn-contents'>
    <%= f.submit "更新する" ,class:"register-btn" %>
    <%=link_to '編集をやめる', user_path(@user), class:"back-btn link" %>
    <%= link_to "削除する", user_registration_path(@user), method: :delete, class:"destroy-btn white link" %>
  </div>

</div>
<% end %>