<div class="article-cards">
  <div class="article-card-wrapper">
    <% @articles.each do |article| %>
    <div class="article-card">
      <div class="article-card-image">
        <%= image_tag article.image.index_thumb.url, class: 'article-card-image' %>
        <div class="favorite-btn">
          <%= image_tag 'favorite-pink.svg', class: 'favorite-pink' %>
        </div>
      </div>
      <div class="article-card-category">
        <div class="tag-s">
            <%= article.genre.name %>
        </div>
        <% if article.school_category.name != '--' %>
        <div class="tag-s">
            <%= article.school_category.name %>
        </div>
        <% end %>
        <%#<div class="tag-s">
            <span>タグ</span>
        </div>%>
      </div>
      <div class="article-card-title">
        <%= link_to article.title, article_path(article.id), class:'black1 ttl-s link' %>
      </div>
      <div class="article-card-content gray txt">
        <%= article.content %>
      </div>
      <div class="article-card-user-contents">
        <%= image_tag article.user.avatar.url, class:'avatar' %>
        <div class="article-card-user-nickname">
          <%= link_to article.user.nickname, user_path(article.user), class: 'black2 txt-s link' %>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>