<%= render "shared/header" %>

<div class="main">
  <div class="content-create-form">
    <div class="content-create-form-main">
      <h2 class="page-heading">記事を投稿する</h2>
      <%= form_with model: @article, local: true do |f| %>
      <%#= render 'shared/error_messages', model: f.object %>
        <%= render "form", f: f %> 
        <div class="create-btn-contents">
          <%= f.submit "投稿する",class:"create-btn" %>
          <%=link_to 'ホームに戻る', root_path, class:"back-btn link" %>
        </div>
      <% end %>
    </div> 
  </div>
</div>

<%= render "shared/footer" %>
