<%= render "shared/header" %>

<div class="main">
  <div class="content-main">
    <div class="top-contents">
      <div class="user-contents">
        <%= image_tag @article.user.avatar.thumb64.url, class:'avatar' %>
        <div class="user-nickname">
          <%= link_to @article.user.nickname, user_path(@article.user), class: 'black2 text link' %>
        </div>
        <div class="user-detail-button">
        <% if current_user == @article.user %>
            <%= link_to '教材を編集', edit_article_path(@article), method: :get, class: "edit-btn link" %>
        <% else %>
          <div class="follow-btn">
            フォロー
          </div>
        <% end %>
        </div>
      </div>
      <div class="info-contents">
        <%#= 相談の閲覧数 %>
        <div class="info-content">
          <%= image_tag 'look.svg', class:'info-icon' %>
          <span>1000</span>
        </div>
        <%#= 相談のいいね数 %>
        <div class="info-content">
          <%= image_tag 'favorite-gray.svg', class:'info-icon' %>
          <span>1000</span>
        </div>
      </div>
    </div>
    <div class="category">
      <!-- 記事のジャンル -->
      <div class="tag-s">
          <%= @article.genre.name %>
      </div>
      <!-- 記事の学校種 -->
      <div class="tag-s">
          <%= @article.school_category.name %>
      </div> 
      <!-- 記事のタグ(任意）) -->
      <!--<div class="tag-s">
          <span>タグ</span>
      </div>-->
    </div>
    <div class="title ttl black1">
      <%= @article.title %>
    </div>
    <div class="content txt black2">
        <%= @article.content %>
    </div>
  </div>

  <%# コメントの一覧表示 %>
  <div class="comments">
    <div class="comment-header">
      この記事へのコメント
    </div>
    <% @comments.each do |comment| %>
      <div class="comment">
        <div class="comment-user-contents">
          <%= image_tag comment.user.avatar.thumb56.url, class:'avatar' %>
          <%= link_to comment.user.nickname, user_path(comment.user), class: 'comment_user txt black2 link' %>
        </div>
        <div class="comment-content txt black2">
          <%= comment.content %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<%# コメントの投稿フォーム %>        
<%= form_with model: [@article,@comment], class: 'comment-form',local: true do |f|%>
  <div class="comment-input">
    <%= f.text_area :content, class: 'comment-input-field', placeholder: 'コメントを入力する', id:"comment_content" %>
  </div>
  <div class="comment-submit">
    <%= button_tag type: 'submit', class: "comment-submit-btn" do %>
        <%= image_tag 'send.svg' %>
    <% end %>
  </div>
<% end %>
