<%= render "shared/header" %>

<div class="main">
  <div class="inner">
    <div class="user__wrapper">
      <h2 class="page-heading">
        <%= "#{@user.nickname}さんの情報"%>
      </h2>
      <table class="table">
        <tbody>
          <tr>
            <th class="table__col1">ユーザー名</th>
            <td class="table__col2"><%= @user.nickname %></td>
          </tr>
          <tr>
            <th class="table__col1">学校種</th>
            <td class="table__col2"><%= @user.school_category.name %></td>
          </tr>
          <tr>
            <th class="table__col1">教科</th>
            <td class="table__col2"><%= @user.subject.name %></td>
          </tr>
          <tr>
            <th class="table__col1">学年</th>
            <td class="table__col2"><%= @user.grade.name %></td>
          </tr>
          <tr>
            <th class="table__col1">クラブ活動・部活動</th>
            <td class="table__col2"><%= @user.club.name %></td>
          </tr>
          <tr>
            <th class="table__col1">校務分掌</th>
            <td class="table__col2"><%= @user.duty.name %></td>
          </tr>
        </tbody>
      </table>
      <h2 class="page-heading">
        <%= "#{@user.nickname}さんの教材"%>
      </h2>
      <div class="user__card">
        <%= render partial: 'materials/material', locals: {materials: @user.materials} %>
      </div>
    </div>
  </div>
</div>

<%= render "shared/footer" %>