<%= render "shared/header" %>

<div class="main">
  <div class="content-main">
    <!-- ユーザーの詳細情報 -->
    <div class="user-detail">
      <div class="user-detail-avatar">
        <%= image_tag @user.avatar.thumb120.url, class:'avatar' %>
      </div>
      <div class="user-detail-info">
        <div class="user-detail-nickname ttl black1">
          <%= @user.nickname %>
        </div>
        <div class="user-detail-category">
          <span>
            <%= @user.school_category.name %>
          </span>
          <% if @user.grade.name != '--' %>
            <span>
              /<%= @user.grade.name %>年
            </span>
          <% end %>
            <span>
            /<%= @user.subject.name %>
            </span>
          <% if @user.duty.name != '--' %>
            <span>
              /<%= @user.duty.name %>
            </span>
          <% end %>
          <% if @user.club.name != '--' %>
            <span>
              /<%= @user.club.name %>
            </span>
          <% end %>
        </div>
        <div class="user-detail-followship black2">
          <span>
            フォロー 0
          </span>
          <span>
            フォロワー 0
          <span>
        </div>
      </div>
      <div class="user-detail-button">
      <% if current_user == @user %>
          <%= link_to 'プロフィールを編集', edit_user_registration_path(@user), method: :get, class: "profile-edit-btn link" %>
      <% else %>
        <div class="follow-btn">
          フォロー
        </div>
      <% end %>
      </div>
    </div>
    <!-- ユーザーの教材・記事・相談の選択 -->
    <div class="contents-category">
      <div class="category-material select">
        <%= image_tag 'material-green.svg'%>
        <span>教材</span>
      </div>
      <div class="category-article">
        <%= image_tag 'article-gray.svg'%>
        <span>記事</span>
      </div>
      <div class="category-question">
        <%= image_tag 'question-gray.svg'%>
        <span>相談</span>
      </div>
    </div>
</div>

<!-- ユーザーの教材・記事・相談 -->
<%= render partial: 'materials/material', locals: {materials: @user.materials} %>

<%= render "shared/footer" %>