<header class='home-page-header'>
  <div class='nav-bar-contents'>
    <div class='logo'>
      <%= link_to image_tag("wisdom.jpg", class:"logo-icon"), homes_path %>
    </div>
    <div class='nav'>
      <ul class='lists-left'>
        <li><%= link_to '教材を見る', materials_path, class: "watch link" %></li>
        <li><%= link_to '記事を見る', articles_path, class: "watch link" %></li>
        <li><%= link_to '相談を見る', questions_path, class: "watch link" %></li>
      </ul>
      <ul class='lists-right'>
        <li class="upload-btn">
          <%= image_tag 'plus.svg', class: 'plus-white' %>
          投稿
          <ul class="upload-menu hidden">
            <%= link_to new_material_path, class: 'link' do%>
              <li>
                <%= image_tag 'material-white.svg', class: 'upload-icon' %>
                教材
              </li>
            <% end %>
            <%= link_to new_article_path, class: 'link' do%>
              <li>
                <%= image_tag 'article-white.svg', class: 'upload-icon' %>
                記事
              </li>
            <% end %>
            <%= link_to new_question_path, class: 'link' do%>
              <li>
                <%= image_tag 'question-white.svg', class: 'upload-icon' %>
                相談
              </li>
            <% end %>
          </ul>
        </li>
        <%# チャットアイコン %>
        <li>
          <%= link_to image_tag('chat.svg', class: 'chat-icon'), '#'%>
        </li>
        <%# 通知アイコン %>
        <li>
          <%= link_to image_tag('notification.svg', class: 'notification-icon'), '#'%>
        </li>
        <%# ユーザーアイコン %>
        <li class="user-icon">
          <%= image_tag current_user.avatar.thumb48.url, class:'avatar' %>
          <ul class="user-menu hidden">
            <%= link_to user_path(current_user), class: ' black2 link' do%>
              <li class="user-menu-upper">
                <%= image_tag 'person.svg', class: 'my_page-icon' %>
                マイページ
              </li>
            <% end %>
            <%= link_to destroy_user_session_path, method: :delete, class: 'black2 link' do%>
              <li class="user-menu-lower">
                <%= image_tag 'log_out.svg', class: 'log_out-icon' %>
                ログアウト
              </li>
            <% end %>
          </ul>
        </li>
      </ul>
    </div>
  </div>
  <div class='search-bar-contents'>
    <div class='pull-down-list'>--　▽</div>
    <div class='pull-down-list'>--　▽</div>
    <form class="search-form" action="#">
      <input class='input-box' placeholder='キーワードから探す'>
      <button class="search-button">
        <%= image_tag 'search.svg', class: 'search-icon' %>
      </button>
    </form>
  </div>
</header>