<%= render "shared/header" %>
      <h3>仮のパス置き場</h3>
      <h3><%= link_to '教材', new_material_path, class: "upload-btn" %></h3>
      <h3><%= link_to '記事', new_article_path, class: "upload-btn" %></h3>
      <h3><%= link_to '相談', new_question_path, class: "upload-btn" %></h3>

      <%# 記事 %>
      <div class="inner">
        <h1 class="page-heading">hogeさんにおすすめの記事</h1>
        <div class="card__wrapper">
          <div class="card">
            <%= image_tag 'card.png', class: 'card__img' %>
            <div class="card__body">
              <h2 class="card__title">記事タイトルが入ります</h2>
              <p class="card__summary">
                記事の要約が入ります。記事の要約が入ります。記事の要約が入ります。記事の要約が入ります。記事の要約が入ります。記事の要約が入ります。
              </p>
            </div>
          </div>
          <div class="card">
            <%= image_tag 'card.png', class: 'card__img' %>
            <div class="card__body">
              <h2 class="card__title">記事タイトルが入ります</h2>
              <p class="card__summary">
                記事の要約が入ります。記事の要約が入ります。記事の要約が入ります。記事の要約が入ります。記事の要約が入ります。記事の要約が入ります。
              </p>
            </div>
          </div>
          <div class="card">
            <%= image_tag 'card.png', class: 'card__img' %>
            <div class="card__body">
              <h2 class="card__title">記事タイトルが入ります</h2>
              <p class="card__summary">
                記事の要約が入ります。記事の要約が入ります。記事の要約が入ります。記事の要約が入ります。記事の要約が入ります。記事の要約が入ります。
              </p>
            </div>
          </div>
          <div class="card">
            <%= image_tag 'card.png', class: 'card__img' %>
            <div class="card__body">
              <h2 class="card__title">記事タイトルが入ります</h2>
              <p class="card__summary">
                記事の要約が入ります。記事の要約が入ります。記事の要約が入ります。記事の要約が入ります。記事の要約が入ります。記事の要約が入ります。
              </p>
            </div>
          </div>
          <div class="card">
            <%= image_tag 'card.png', class: 'card__img' %>
            <div class="card__body">
              <h2 class="card__title">記事タイトルが入ります</h2>
              <p class="card__summary">
                記事の要約が入ります。記事の要約が入ります。記事の要約が入ります。記事の要約が入ります。記事の要約が入ります。記事の要約が入ります。
              </p>
            </div>
          </div>
          <div class="card">
            <%= image_tag 'card.png', class: 'card__img' %>
            <div class="card__body">
              <h2 class="card__title">記事タイトルが入ります</h2>
              <p class="card__summary">
                記事の要約が入ります。記事の要約が入ります。記事の要約が入ります。記事の要約が入ります。記事の要約が入ります。記事の要約が入ります。
              </p>
            </div>
          </div>
        </div>
      </div>
      <%# ユーザー %>
      <div class="inner">
        <h1 class="page-heading">新着ユーザー</h1>
        <div class="card__wrapper">
          <div class="card">
            <%= image_tag 'card.png', class: 'card__img' %>
            <div class="card__body">
              <h2 class="card__title">記事タイトルが入ります</h2>
              <p class="card__summary">
                記事の要約が入ります。記事の要約が入ります。記事の要約が入ります。記事の要約が入ります。記事の要約が入ります。記事の要約が入ります。
              </p>
            </div>
          </div>
          <div class="card">
            <%= image_tag 'card.png', class: 'card__img' %>
            <div class="card__body">
              <h2 class="card__title">記事タイトルが入ります</h2>
              <p class="card__summary">
                記事の要約が入ります。記事の要約が入ります。記事の要約が入ります。記事の要約が入ります。記事の要約が入ります。記事の要約が入ります。
              </p>
            </div>
          </div>
          <div class="card">
            <%= image_tag 'card.png', class: 'card__img' %>
            <div class="card__body">
              <h2 class="card__title">記事タイトルが入ります</h2>
              <p class="card__summary">
                記事の要約が入ります。記事の要約が入ります。記事の要約が入ります。記事の要約が入ります。記事の要約が入ります。記事の要約が入ります。
              </p>
            </div>
          </div>
          <div class="card">
            <%= image_tag 'card.png', class: 'card__img' %>
            <div class="card__body">
              <h2 class="card__title">記事タイトルが入ります</h2>
              <p class="card__summary">
                記事の要約が入ります。記事の要約が入ります。記事の要約が入ります。記事の要約が入ります。記事の要約が入ります。記事の要約が入ります。
              </p>
            </div>
          </div>
          <div class="card">
            <%= image_tag 'card.png', class: 'card__img' %>
            <div class="card__body">
              <h2 class="card__title">記事タイトルが入ります</h2>
              <p class="card__summary">
                記事の要約が入ります。記事の要約が入ります。記事の要約が入ります。記事の要約が入ります。記事の要約が入ります。記事の要約が入ります。
              </p>
            </div>
          </div>
          <div class="card">
            <%= image_tag 'card.png', class: 'card__img' %>
            <div class="card__body">
              <h2 class="card__title">記事タイトルが入ります</h2>
              <p class="card__summary">
                記事の要約が入ります。記事の要約が入ります。記事の要約が入ります。記事の要約が入ります。記事の要約が入ります。記事の要約が入ります。
              </p>
            </div>
          </div>
        </div>
      </div>
      <%# 教材 %>
      <div class="inner">
        <h1 class="page-heading">hogeさんにおすすめの教材</h1>
        <div class="card__wrapper">
          <div class="card">
            <%= image_tag 'card.png', class: 'card__img' %>
            <div class="card__body">
              <h2 class="card__title">記事タイトルが入ります</h2>
              <p class="card__summary">
                記事の要約が入ります。記事の要約が入ります。記事の要約が入ります。記事の要約が入ります。記事の要約が入ります。記事の要約が入ります。
              </p>
            </div>
          </div>
          <div class="card">
            <%= image_tag 'card.png', class: 'card__img' %>
            <div class="card__body">
              <h2 class="card__title">記事タイトルが入ります</h2>
              <p class="card__summary">
                記事の要約が入ります。記事の要約が入ります。記事の要約が入ります。記事の要約が入ります。記事の要約が入ります。記事の要約が入ります。
              </p>
            </div>
          </div>
          <div class="card">
            <%= image_tag 'card.png', class: 'card__img' %>
            <div class="card__body">
              <h2 class="card__title">記事タイトルが入ります</h2>
              <p class="card__summary">
                記事の要約が入ります。記事の要約が入ります。記事の要約が入ります。記事の要約が入ります。記事の要約が入ります。記事の要約が入ります。
              </p>
            </div>
          </div>
          <div class="card">
            <%= image_tag 'card.png', class: 'card__img' %>
            <div class="card__body">
              <h2 class="card__title">記事タイトルが入ります</h2>
              <p class="card__summary">
                記事の要約が入ります。記事の要約が入ります。記事の要約が入ります。記事の要約が入ります。記事の要約が入ります。記事の要約が入ります。
              </p>
            </div>
          </div>
          <div class="card">
            <%= image_tag 'card.png', class: 'card__img' %>
            <div class="card__body">
              <h2 class="card__title">記事タイトルが入ります</h2>
              <p class="card__summary">
                記事の要約が入ります。記事の要約が入ります。記事の要約が入ります。記事の要約が入ります。記事の要約が入ります。記事の要約が入ります。
              </p>
            </div>
          </div>
          <div class="card">
            <%= image_tag 'card.png', class: 'card__img' %>
            <div class="card__body">
              <h2 class="card__title">記事タイトルが入ります</h2>
              <p class="card__summary">
                記事の要約が入ります。記事の要約が入ります。記事の要約が入ります。記事の要約が入ります。記事の要約が入ります。記事の要約が入ります。
              </p>
            </div>
          </div>
        </div>
      </div>


<%= render "shared/footer" %>