<%= render "shared/header" %>

<div class="main">

  <%# おすすめの記事 %>
  <%= render "article" %>

  <%# 新着のユーザー %>
  <%#  <%= render "user" %>

  <%# 新着の相談 %>
  <%= render "question" %>

  <%# おすすめの教材 %>
  <%= render "material" %>

</div>

<%= render "shared/footer" %>