<%= form_with model: @material, local: true do |f| %>
<%#= render 'shared/error_messages', model: f.object %>

  <%# 商品画像 %>
  <div class="img-upload">
    <div class="weight-bold-text">
      商品画像
      <span class="indispensable">必須</span>
    </div>
    <div class="click-upload">
      <p>
        クリックしてファイルをアップロード
      </p>
      <%= f.file_field :data, id:"item-image" %>
    </div>
  </div>

  <%# 教材画像 %>

  <%# 教材名と教材説明 %>
  <div class="new-items">
    <div class="weight-bold-text">
      教材名
      <span class="indispensable">必須</span>
    </div>
    <%= f.text_area :title, class:"items-text", id:"item-name", placeholder:"商品名（必須 40文字まで)" ,rows:"2", maxlength:"40" %>
    <div class="items-explain">
      <div class="weight-bold-text">
        教材の説明
        <span class="indispensable">必須</span>
      </div>
      <%= f.text_area :content, class:"items-text", id:"item-info", placeholder:"教材の説明（必須 1,000文字まで）" ,rows:"7" ,maxlength:"1000" %>
    </div>
  </div>

  <%# 教材の詳細 %>
  <div class="items-detail">
    <div class="weight-bold-text">教材の分類</div>
    <div class="form">
      <div class="weight-bold-text">
        学校種
        <span class="indispensable">必須</span>
      </div>
      <%= f.collection_select(:school_category_id, SchoolCategory.all, :id, :name, {}, {class:"select-box", id:"item-category"}) %>
      <div class="weight-bold-text">
        教科
        <span class="indispensable">必須</span>
      </div>
      <%= f.collection_select(:subject_id, Subject.all, :id, :name, {}, {class:"select-box", id:"item-sales-status"}) %>
      <div class="weight-bold-text">
        学年
        <span class="indispensable">任意</span>
      </div>
      <%= f.collection_select(:grade_id, Grade.all, :id, :name, {}, {class:"select-box", id:"item-shipping-fee-status"}) %>
    </div>
  </div>

  <%# 下部ボタン %>
  <div class="sell-btn-contents">
    <%= f.submit "出品する",class:"sell-btn" %>
    <%=link_to 'もどる', root_path, class:"back-btn" %>
  </div>
  <%# /下部ボタン %>
<% end %>