<!--- 教材のイメージ画像 --->
<div class="content-image-uploader">
  <div class="weight-bold-text">
    教材のイメージ画像
    <span class="dispensable">任意</span>
  </div>
  <div class="click-upload">
      <%#= f.label :image, "画像を選ぶ", class: "file-btn" %>
      <%= f.file_field :image, class: "file-btn-hidden", id:"content-image" %>
  </div>
  <%= image_tag 'card.png', class:'content-image' %> <!-- 後で画像のサムネイルに差し替え-->
</div>

<!--- 教材のカテゴリー・タグ --->
<div class="content-category">
  <div class="weight-bold-text">
    学校
    <span class="indispensable">必須</span>
  </div>
  <%= f.collection_select(:school_category_id, SchoolCategory.all, :id, :name, {}, {class:"select-box", id:"content-school_category"}) %>
  <div class="weight-bold-text">
    教科
    <span class="indispensable">必須</span>
  </div>
  <%= f.collection_select(:subject_id, Subject.all, :id, :name, {}, {class:"select-box", id:"content-subject"}) %>
  <div class="weight-bold-text">
    学年
      <span class="dispensable">任意</span>
  </div>
  <%= f.collection_select(:grade_id, Grade.all, :id, :name, {}, {class:"select-box", id:"content-grade"}) %>
    <%#<div class="weight-bold-text">
      タグ
      <span class="dispensable">任意</span>
    </div>
    <div class="content-tag">
  </div>%>
</div>

<!--- 教材の名前・内容 -->
<div class="weight-bold-text">
  教材の名前
  <span class="indispensable">必須</span>
</div>
<%= f.text_area :title, class:"content-text", id:"content-name", placeholder:"教材の名前を入力する（100文字まで)" ,rows:"1", maxlength:"100" %>
<div class="content-explain">
  <div class="weight-bold-text">
    教材の説明
    <span class="indispensable">必須</span>
  </div>
  <%= f.text_area :content, class:"content-text", id:"content-info", placeholder:"教材の詳しい説明を記入する（1,000文字まで）" ,rows:"7" ,maxlength:"1000" %>
</div>

<div class="weight-bold-text">
  教材のファイル
  <span class="indispensable">必須</span>
</div>

<div class="click-upload">
  <%#= f.label :data, "ファイルを選ぶ", class: "file-btn" %>
  <%= f.file_field :data, class: "file-btn-hidden", id:"content-data" %>
</div>