<div class="materials">
  <h1 class="page-heading">教材一覧</h1>
  <div class="material-wrapper">
    <% @materials.each do |material| %>
    <div class="material-card">
      <div class="material-card-image">
        <%= image_tag 'card.png', class: 'material-card-image' %>
        <div class="favorite-btn">
            <svg xmlns="http://www.w3.org/2000/svg" width="8" height="8" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
              <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
            </svg>
        </div>
      </div>
      <div class="material-card-category">
        <div class="tag-s">
          <div class="material-card-school_category-tag">
            <%= material.school_category.name %>
          </div>
        </div>
        <div class="tag-s">
          <div class="material-card-grade-tag">
            <%= material.grade.name %>年
          </div>
        </div>   
        <div class="tag-s">
          <div class="material-card-subject-tag">
            <%= material.subject.name %>
          </div>
        </div>
        <div class="tag-s">
          <div class="material-card-subject">
            <span>タグ</span>
          </div>
        </div>
      </div>
      <div class="material-card-title">
        <%= link_to material.title, material_path(material.id), class: 'black1 ttl-s link'%>
      </div>
      <div class="material-card-user-contents">
        <%= image_tag material.user.avatar.url, class:'avatar' %>
        <div class="material-card-user-nickname">
          <%= link_to material.user.nickname, user_path(material.user), class: 'black2 txt link' %>
        </div>
      </div>
    </div>
  <% end %>
  </div>
</div>