<%= render "shared/header" %>

      <%# 教材 %>
      <div class="inner">
        <h1 class="page-heading">教材一覧</h1>
        <div class="card__wrapper">
          <div class="card">
            <%= image_tag 'card.png', class: 'card__img' %>
            <div class="card__body">
              <h2 class="card__title">教材タイトルが入ります</h2>
              <p class="card__summary">
                教材の説明が入ります。教材の説明が入ります。教材の説明が入ります。教材の説明が入ります。教材の説明が入ります。教材の説明が入ります。
              </p>
            </div>
          </div>
          <div class="card">
            <%= image_tag 'card.png', class: 'card__img' %>
            <div class="card__body">
              <h2 class="card__title">教材タイトルが入ります</h2>
              <p class="card__summary">
                教材の説明が入ります。教材の説明が入ります。教材の説明が入ります。教材の説明が入ります。教材の説明が入ります。教材の説明が入ります。
              </p>
            </div>
          </div>
          <div class="card">
            <%= image_tag 'card.png', class: 'card__img' %>
            <div class="card__body">
              <h2 class="card__title">教材タイトルが入ります</h2>
              <p class="card__summary">
                教材の説明が入ります。教材の説明が入ります。教材の説明が入ります。教材の説明が入ります。教材の説明が入ります。教材の説明が入ります。
              </p>
            </div>
          </div>
          <div class="card">
            <%= image_tag 'card.png', class: 'card__img' %>
            <div class="card__body">
              <h2 class="card__title">教材タイトルが入ります</h2>
              <p class="card__summary">
                教材の説明が入ります。教材の説明が入ります。教材の説明が入ります。教材の説明が入ります。教材の説明が入ります。教材の説明が入ります。
              </p>
            </div>
          </div>
          <div class="card">
            <%= image_tag 'card.png', class: 'card__img' %>
            <div class="card__body">
              <h2 class="card__title">教材タイトルが入ります</h2>
              <p class="card__summary">
                教材の説明が入ります。教材の説明が入ります。教材の説明が入ります。教材の説明が入ります。教材の説明が入ります。教材の説明が入ります。
              </p>
            </div>
          </div>
          <div class="card">
            <%= image_tag 'card.png', class: 'card__img' %>
            <div class="card__body">
              <h2 class="card__title">教材タイトルが入ります</h2>
              <p class="card__summary">
                教材の説明が入ります。教材の説明が入ります。教材の説明が入ります。教材の説明が入ります。教材の説明が入ります。教材の説明が入ります。
              </p>
            </div>
          </div>
        </div>
      </div>


<%= render "shared/footer" %>
