<%= render "shared/header" %>

<%# 教材の概要 %>
<div class="item-show">
  <div class="item-box">
    <h2 class="name">
      <%= @material.title %>
    </h2>
    <div class="item-img-content">
      <%= image_tag 'card.png', class: 'card__img' %>
    </div>

    <div class="material-data">
      <%= @material[:data] %>
      <%= link_to "ダウンロード", download_material_path(@material) %>
    </div>

    <% if current_user == @material.user %>
      <%= link_to "編集", edit_material_path(@material), method: :get, class: "item-red-btn" %>  
      <p class="or-text">or</p>
      <%= link_to "削除", material_path(@material), method: :delete, class:"item-destroy" %>
    <% end %>

    <div class="item-explain-box">
      <span><%= @material.content %></span>
    </div>
    <table class="detail-table">
      <tbody>
        <tr>
          <th class="detail-item">投稿者</th>
          <td class="detail-value"><%= link_to @material.user.nickname, user_path(@material.user) %></td>
          <%= image_tag @material.user.avatar.url, class: 'avatar' %>
        </tr>
        <tr>
          <th class="detail-item">学校</th>
          <td class="detail-value"><%= @material.school_category.name %></td>
        </tr>
        <tr>
          <th class="detail-item">学年</th>
          <td class="detail-value"><%= @material.grade.name %></td>
        </tr>
        <tr>
          <th class="detail-item">教科</th>
          <td class="detail-value"><%= @material.subject.name %></td>
        </tr>
      </tbody>
    </table>
    <div class="option">
      <div class="favorite-btn">
        <%= image_tag "card.png" ,class:"favorite-star-icon" ,width:"20",height:"20"%>
        <span>お気に入り 0</span>
      </div>
      <div class="report-btn">
        <%= image_tag "card.png" ,class:"report-flag-icon" ,width:"20",height:"20"%>
        <span>不適切な教材の通報</span>
      </div>
    </div>
  </div>

  <%# フィードバック欄 %>
  <div class="feedback-box">
    <div class="feedback-form">
      <%# フェードバック投稿フォーム %>        
      <% if user_signed_in? %>
        <%= form_with(model: [@material,@feedback],local: true) do |f|%>
          <div class="field">
            <%= f.label :content, "コメントする" %><br />
            <%= f.text_field :content, id:"feedback_content" %>
          </div>
          <div class="actions">
            <%= f.submit "送信する", class: :form__btn  %>
          </div>
        <% end %>
      <% end %>
    </div>
    <%# フィードバック一覧表示 %>
    <br>
    <h2>フィードバック</h2>
    <ul class="feedbacks_lists">
      <% @feedbacks.each do |feedback| %>
        <li class="feedback_list">
          <%= feedback.content %>
          <%= link_to feedback.user.nickname, user_path(feedback.user), class: :feedback_user %>
      </li>
      <% end %>
    </ul>
  </div>

  <div class="links">
    <a href="#" class="change-item-btn">
      ＜ 前の教材
    </a>
    <a href="#" class="change-item-btn">
      後ろの教材 ＞
    </a>
  </div>
  <a href="#" class="another-item"><%= @material.school_category.name %>をもっと見る</a>
</div>

<%= link_to "戻る", :back %>

<%= render "shared/footer" %>