<%= render "shared/header" %>

<div class="main">
  <div class="content-main">
    <div class="top-contents">
      <div class="user-contents">
        <%= image_tag @material.user.avatar.thumb64.url, class:'avatar' %>
        <div class="user-nickname">
          <%= link_to @material.user.nickname, user_path(@material.user), class: 'black2 text link' %>
        </div>
        <div class="user-detail-button">
        <% if current_user == @material.user %>
            <%= link_to '教材を編集', edit_material_path(@material), method: :get, class: "edit-btn link" %>
        <% else %>
          <div class="follow-btn">
            フォロー
          </div>
        <% end %>
        </div>
      </div>
      <div class="info-contents">
        <%#= 相談の閲覧数 %>
        <div class="info-content">
          <%= image_tag 'look.svg', class:'info-icon' %>
          <span>1000</span>
        </div>
        <%#= 相談のダウンロード数 %>
        <div class="info-content">
          <%= image_tag 'download-gray.svg', class:'info-icon' %>
          <span>1000</span>
        </div>
        <%#= 相談のいいね数 %>
        <div class="info-content">
          <%= image_tag 'favorite-gray.svg', class:'info-icon' %>
          <span>1000</span>
        </div>
      </div>
    </div>
    <div class="image">
    <% unless @material.image.nil? %>
      <%= image_tag @material.image.url, class: 'image' %>
    <% else %>
      <%= image_tag 'card.png', class: 'image' %>
    <% end %>
      <div class="favorite-btn">
        <%= image_tag 'favorite-pink.svg', class: 'favorite-pink' %>
      </div>
    </div>
    <div class="category">
        <!-- 教材の学校種 -->
      <div class="tag-s">
          <%= @material.school_category.name %>
      </div>
      <!-- 教材の学年 -->
      <% if @material.grade.name != '--' %>
      <div class="tag-s">
          <%= @material.grade.name %>年
      </div>
      <% end %>
      <!-- 教材の教科 -->
      <div class="tag-s">
          <%= @material.subject.name %>
      </div>
      <!-- 教材のタグ(任意）) -->
      <!--<div class="tag-s">
          <span>タグ</span>
      </div>-->
    </div>
    <div class="title ttl black1">
      <%= @material.title %>
    </div>
    <div class="content txt black2">
        <%= @material.content %>
    </div>
    <div class="download">
      <%= link_to image_tag('download-green.svg', class: 'download-icon'), download_material_path(@material) %>
      <%= link_to @material[:data], download_material_path(@material), class: 'data link' %>
    </div>
  </div>

  <%# コメントの一覧表示 %>
  <div class="comments">
    <div class="comment-header">
      この教材へのコメント
    </div>
    <% @feedbacks.each do |feedback| %>
      <div class="comment">
        <div class="comment-user-contents">
          <%= image_tag feedback.user.avatar.thumb56.url, class:'avatar' %>
          <%= link_to feedback.user.nickname, user_path(feedback.user), class: 'comment_user txt black2 link' %>
        </div>
        <div class="comment-content txt black2">
          <%= feedback.content %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<%# コメントの投稿フォーム %>        
<%= form_with model: [@material,@feedback], class: 'comment-form',local: true do |f|%>
  <div class="comment-input">
    <%= f.text_area :content, class: 'comment-input-field', placeholder: 'コメントを入力する', id:"comment_content" %>
  </div>
  <div class="comment-submit">
    <%= button_tag type: 'submit', class: "comment-submit-btn" do %>
        <%= image_tag 'send.svg' %>
    <% end %>
  </div>
<% end %>